{% block contenido %}
    {% for cat in menu if cat.mnu_url == "UsuariosSucursal" %}
        {% if cat.rol_update == 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading" style="background: #3c8dbc">
                    <h2 align="center" style="color: white;">Asignar Sucursal</h2>
                </div>
                <div class="panel-body">
                    <br>
                    <form id="frmSucursal">
                        <div class="form-group col-lg-12">
                            <div class="btn-group btn-group-justified btn-group-raised">
                                <a href="{{ path('UsuariosSucursal') }}" class="btn btn-raised btn-primary"><span class="fa fa-arrow-circle-left"></span><span class="hidden-xs"> Regresar</span></a>
                                <a id="Limpiar" class="btn btn-raised btn-primary"><span class="glyphicon glyphicon-erase"></span><span class="hidden-xs"> Limpiar</span></a>
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-lg-12">
                            <label for="usuario">USUARIO:</label>
                            {% set i = 0 %}
                            {% for usr in usuario if i == 0 %}
                                <select class="form-control" name="usuario" id="usuario" disabled>
                                    <option value="{{ usr.idUsr }}" selected>{{ usr.nomusr }}</option>
                                </select>
                                <input type="hidden" id="usuario" name="usuario" value="{{ usr.idUsr }}"/>
                                {% set i = 1 %}
                            {% endfor %}
                        </div>
                        
                        <div class="form-group col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align: center;"><b>Sucursaled disponibles</b></div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <select class="form-control" name="sucs_disp" id="sucs_disp" multiple size="10">
                                            {% for sucursal in sucursales %}
                                                <option value="{{ sucursal.id_sucursal }}">{{ sucursal.sucursal }} - {{ sucursal.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button id="pasar" class="btn btn-block btn-primary col-lg-6" disabled>Asignar <span class="fa fa-arrow-right"></span></button>
                                        <button id="pasartodos" class="btn btn-block btn-primary col-lg-6" disabled>Asignar todos <span class="fa fa-arrow-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <select id="sucs_disp_r" multiple size="10" hidden>
                            {% for sucursal in sucursales %}
                                <option value="{{ sucursal.id_sucursal }}">{{ sucursal.sucursal }} - {{ sucursal.nombre }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-group col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align: center;"><b>Sucursales por asignar</b></div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <select class="form-control" name="sucs_asignar" id="sucs_asignar" multiple size="10">
                                            {% for usr in usuario %}
                                                <option value="{{ usr.id_sucursal }}">{{ usr.sucursal }} - {{ usr.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button id="quitar" class="btn btn-block btn-primary col-lg-6" disabled><span class="fa fa-arrow-left"></span> Quitar</button>
                                        <button id="quitartodos" class="btn btn-block btn-primary col-lg-6" disabled><span class="fa fa-arrow-left"></span> Quitar todos</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            
                        <select id="sucs_asignar_r" multiple size="10" hidden>
                            {% for usr in usuario %}
                                <option value="{{ usr.id_sucursal }}">{{ usr.sucursal }} - {{ usr.nombre }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-group col-lg-12">
                            <a id="Guardar" class="btn btn-block btn-raised btn-primary"><span class="fa fa-floppy-o"></span><span class="hidden-xs"> Guardar</span></a>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            {% include 'FacelecBundle:Default:Alerta.html.twig' %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/app_js/CatalogosSistema_ModificarUsuarioSucursal.js') }}"></script>
{% endblock %}